.vscode/
venv*
.idea/
__pycache__/
protos
Dockerfile-local
.python-version
coverage-unit.xml
xunit-results-unit.xml
coverage-integration.xml
xunit-results-integration.xml
deployment/Chart.yaml
*.DS_Store
docs/build/
pytest.ini
node_modules/
.env
CLAUDE*
