.vscode/
venv*
.venv/
.idea/
__pycache__/
*.pyc
*.egg-info/
protos
Dockerfile-local
.python-version
coverage-unit.xml
xunit-results-unit.xml
coverage-integration.xml
xunit-results-integration.xml
deployment/Chart.yaml
*.DS_Store
docs/build/
pytest.ini
.env
CLAUDE*

# Generated PCM files
pcm/

# uv
